<ol class="comment-entry">
  <% @animal.comments.each do |comment| %>
    <li class="comment_<%= comment.id %>"><%= comment.notes %> <%= link_to "(delete)", user_animal_comment_path(current_user, @animal.id, comment.id), method: :delete %></li>
  <% end %>
</ol>