<h1>Zoo Keepers</h1>
<% @keepers.each do |keeper| %>
    <ul>
        <h2><%= link_to keeper.name, keeper_path(keeper) %></h2>
        <li>Belongs to: <%= keeper.zoo_id %> Zoo</li><br />
    </ul>
<% end %>