<h1>List of Zoo Keepers in <%= current_user.zoo.name %></h1>
<% current_user.zoo.keepers.each do |keeper| %>
    <ul>
        <h2><%= link_to "#{keeper.name}", keeper_path(keeper) %></h2>
        <li>Works at: <%= keeper.zoo.name %></li><br />
    </ul>
<% end %>

<%= link_to "Add a New Zoo Keeper", new_keeper_path %>