<h1><%= @animal.name %></h1>
    <ul>
        <li>Species: <%= @animal.species %></li>
        <li>Personality: <%= @animal.personality %></li>
    </ul><br>
<%= link_to "Edit this Animal", edit_user_animal_path(current_user, @animal) %>