<footer>
  <a class="github" href="https://github.com/bblkmn5/zoo_rails_project">
  <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" width="40px"></a>
  <p class="small text-muted">©2018 Ben Blackman</p>
</footer>