<nav class="navbar joint-center navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Home</a>
        <% if signed_in? %>
            <a class="navbar-link" href="/animals">Animals<span class="sr-only"></span></a>
            <a class="navbar-link" href="/keepers">Zoo-Keepers</a>
            <a class="navbar-link" href="/zoos">Other Zoos</a>
            <a class="navbar-link" href="/signout">Sign Out</a>
        <% else %>
            <a class="navbar-link" href="/signin">Sign In</a>
            <a class="navbar-link" href="/signup">Sign Up</a>
        <% end %>
</nav>